*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.userId-td, .id-td, .completed-td, h1{
    text-align: center;
} 

h1, table{
    margin: 16px 16px;
}

th, td{
    padding: 2px 2px;
    border-bottom: 2px solid darkgray;
}

table{
    margin-bottom: 64px;
}