*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.todo-ul{
    display: flex;
}

.todo-li{
    margin-left: 20px;
    margin-right: 20px;
}

.userId-td, .id-td, .completed-td{
    text-align: center;
} 

h1{
    text-align: center;
    margin: 16px 16px;
}

table{
    margin: 16px 16px;
}

th, td{
    padding: 2px 2px;
    border-bottom: 2px solid darkgray;
}