*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;

    background-color:floralwhite;
}

.userId-td, .id-td, .completed-td, h1{
    text-align: center;
} 

h1, table{
    margin: 16px 16px;
}

h1{
    text-shadow: 0px 0px 5px;
}

th, td{
    padding: 2px 2px;
    border-bottom: 2px solid darkgray;
    border-right: 2px solid lightgray;
}

.completed-td, th:last-of-type{
    border-right: none;
}

tr:last-of-type td{
    border-bottom: none;
}

table{
    margin-bottom: 24px;

    background-color:ghostwhite;
    border-radius: 10px;

    box-shadow: 0px 0px 4px;
}

.controls{
    display: flex;
    justify-content: center;

    margin-bottom: 64px;
}